{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <ul>
    {{- range . }}
      {{- $attrs := dict "href" .URL }}
      {{- $isCurrent := or ($page.IsMenuCurrent $menuID .) ($page.HasMenuCurrent $menuID .) }}
      {{- if and (not $isCurrent) .URL }}
        {{- $target := strings.TrimSuffix "/" .URL }}
        {{- $here := strings.TrimSuffix "/" $page.RelPermalink }}
        {{- if and (ne $target "") (eq $target $here) }}
          {{- $isCurrent = true }}
        {{- end }}
      {{- end }}
      {{- if $isCurrent }}
        {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
      {{- end }}
      <li>
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}
        >{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
{{- end }}
